.contactsBlock {
    height: 100vh;
    background-color:#f4f9f2;
}

.contacts {
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    background-color: blue;
}
.button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;

}

