.projectsBlock {
    /*min-height: 100vh;*/
    background-color: rgb(248,249,250);
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid white;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    color:#212529;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #f5df4e;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    line-height: 1.8
}

.projects {
    border: 1px solid ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 641px) {
    .projects {
        justify-content: center;
    }
}